server:
  port: 8080

spring:
  application:
    name: drone-service

  jackson:
    property-naming-strategy: SNAKE_CASE

  datasource:
    url: jdbc:h2:mem:drone-db
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update

  sql:
    init:
      mode: always

app:
  drone:
    max-drones: 10
    min-battery-for-loading: 25.0
    battery-consumption-per-delivery: 10.0
    state-scheduler-fixed-rate: 10000

